{% extends 'base.html' %}

{% block title %}accueil{% endblock %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/.css' %}">
{% endblock %}

{% block content %}
<!-- Affichage des trois dernières simulations -->
<div class="latest-simulations">
    <h2>Dernières Simulations</h2>
    <ul>
        {% for simulation in dernieres_simulations %}
            <li>
                <h3>{{ simulation.titre }}</h3>
               
                <!-- Autres détails à afficher -->
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}