{% extends "base.html" %}
{% load custom_filters %}
{% block title %}Détails de la Simulation{% endblock %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styledetails.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    .btn-edit {
        background-color: orange;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 4px;
        margin-right: 10px;
    }

    .btn-edit:hover {
        background-color: darkorange;
    }
    .btn-download {
        color: black;
        text-decoration: none;
        padding: 8px 16px;
        margin-right: 10px;
    }
    .btn-download:hover {
        color: orange;
        text-decoration: none;
        padding: 8px 16px;
        margin-right: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4 text-center">Détails de la Simulation: {{ simulation.titre }}</h1>

    <ul class="list-group list-group-flush">
        {% for simulation in simulations %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-2">
                        <strong>Désignation:</strong> <span>{{ simulation.designation }}</span>
                    </div>
                    <div class="mb-2">
                        <strong>Quantité:</strong> <span>{{ simulation.quantite|intspace }}</span>
                    </div>
                    <div class="mb-2">
                        <strong>Prix Unitaire :</strong> <span>{{ simulation.prix|intspace }} FCFA</span>
                    </div>
                    <div class="mb-2">
                        <strong>Prix Total d'Achat :</strong> <span>{{ simulation.prix_total_achat|intspace }} FCFA</span>
                    </div>
                    <div class="mb-2">
                        <strong>Frais de Transit :</strong> <span>{{ simulation.montant_transit|intspace }} FCFA</span>
                    </div>
                    <div class="mb-2">
                        <strong>Frais de Douane :</strong> <span>{{ simulation.montant_douane|intspace }} FCFA</span>
                    </div>
                    <div class="mb-2">
                        <strong>Marge Pourcentage :</strong> <span>{{ simulation.marge_pourcentage|intspace }} %</span>
                    </div>
                    <div class="mb-2">
                        <strong>Marge Montant :</strong> <span>{{ simulation.marge_montant|intspace }} FCFA</span>
                    </div>
                    <div class="mb-2">
                        <strong>Pourcentage Banque :</strong> <span>{{ simulation.pourcentage_banque|intspace }} %</span>
                    </div>
                    <div class="mb-2">
                        <strong>Pourcentage Banque Montant :</strong> <span>{{ simulation.pourcentage_banque_montant|intspace }} FCFA</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-2">
                        <strong>Prix de Revient Total :</strong> <span>{{ simulation.prix_de_revient_total|intspace }} FCFA</span>
                    </div>
                    <div class="mb-2">
                        <strong>ISB :</strong> <span>{{ simulation.isb|intspace }} FCFA</span>
                    </div>
                    <div class="mb-2">
                        <strong>Prix de Vente Total HT avec ISB :</strong> <span>{{ simulation.prix_vente_total_ht_avec_isb|intspace }} FCFA</span>
                    </div>
                    <div class="mb-2">
                        <strong>Prix Unitaire de Vente Total HT :</strong> <span>{{ simulation.prix_vente_total_ht|intspace }} FCFA</span>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}

        <!-- Total des totaux du devis -->
        <li class="list-group-item list-group-item-info">
            <h5 class="mb-2">Totaux du Devis:</h5>
            <div class="mb-2">
                <strong>Marge Montant Total :</strong> <span>{{ marge_montant_total|intspace }} FCFA</span>
            </div>
            <div class="mb-2">
                <strong>Total Prix de Revient :</strong> <span>{{ total_prix_revient|intspace }} FCFA</span>
            </div>
            <div class="mb-2">
                <strong>Total ISB :</strong> <span>{{ total_isb|intspace }} FCFA</span>
            </div>
            <div class="mb-2">
                <strong>Total HT avec ISB :</strong> <span>{{ total_ht_devis|intspace }} FCFA</span>
            </div>
            <div class="mb-2">
                <strong>Total TVA :</strong> <span>{{ total_tva|intspace }} FCFA</span>
            </div>
            <div class="mb-2">
                <strong>Total TTC Devis :</strong> <span>{{ total_ttc_devis|intspace }} FCFA</span>
            </div>
        </li>
    </ul>

    <div class="button-container text-center mt-4">
        <a href="{% url 'download_detail_pdf' id_simulation %}" class="btn-download"><i class="material-icons">picture_as_pdf</i> Télécharger PDF</a>
        <a href="{% url 'download_detail_excel' id_simulation %}" class="btn-download"><i class="material-icons">description</i> Télécharger Excel</a>
        <a href="{% url 'edit_simulation' simulation.id_simulation %}" class="btn btn-edit">Éditer</a>
    </div>
    
</div>
{% endblock %}
