<!-- detail_simulation.html -->
{% extends 'base.html' %}

{% block title %}Détails de la Simulation{% endblock %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styledetails.css' %}">
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h2>Détails de la Simulation: {{ simulation.titre }}</h2>
        </div>
        <div class="card-body">
           
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5>Désignation:</h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.designation }}</p>
                </div>
            </div>
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5>Quantité:</h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.quantite }}</p>
                </div>
            </div>
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5>Prix Unitaire d'Achat :</h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.prix }} FCFA</p>
                </div>
            </div>
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5>Frais de Transport :</h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.montant_transit }} FCFA</p>
                </div>
            </div>
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5>Frais de Douane :</h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.montant_douane }} FCFA</p>
                </div>
            </div>
            
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5>Pourcentage Banque :</h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.pourcentage_banque }}%</p>
                </div>
            </div>
            
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5>Montant Banque :</h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.pourcentage_banque_montant }} FCFA</p>
                </div>
            </div>
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5>Marge Pourcentage :</h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.marge_pourcentage }}%</p>
                </div>
            </div>
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5>Montant Marge :</h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.marge_montant }}FCFA</p>
                </div>
            </div>
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5>Prix Unitaire de Vente :</h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.prix_vente_total_ht }} FCFA</p>
                </div>
            </div>
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5>Prix de Revient :</h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.prix_vente_total_ht_sans_isb }} FCFA</p>
                </div>
            </div>
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5>ISB :</h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.isb }} FCFA</p>
                </div>
            </div>
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5>Total HT  :</h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.prix_vente_total_ht_avec_isb }} FCFA</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <a href="{% url 'edit_simulation' simulation.id_simulation %}" class="btn btn-warning">Éditer</a>
            <a href="{% url 'liste_simulations' %}" class="btn btn-secondary">Retour à la liste</a>
        </div>
        <a href="{% url 'download_pdf' simulation.id_simulation %}" class="btn btn-primary">Télécharger en PDF</a>
        <a href="{% url 'download_excel' simulation.id_simulation %}" class="btn btn-primary">Télécharger en Excel</a>

    </div>

{% endblock %}
