<!-- detail_simulation.html -->
{% extends 'base.html' %}

{% block title %}Détails de la Simulation{% endblock %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styledetails.css' %}">
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h2>Détails de la Simulation: {{ simulation.titre }}</h2>
        </div>
        <div class="card-body">
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5><strong>Titre:</strong></h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.titre }}</p>
                </div>
            </div>
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5><strong>Désignation:</strong></h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.designation }}</p>
                </div>
            </div>
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5><strong>Quantité:</strong></h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.quantite }}</p>
                </div>
            </div>
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5><strong>Prix Unitaire d'Achat (FCFA):</strong></h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.prix }}</p>
                </div>
            </div>
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5><strong>Frais de Transport (FCFA):</strong></h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.montant_transit }}</p>
                </div>
            </div>
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5><strong>Frais de Douane (FCFA):</strong></h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.montant_douane }}</p>
                </div>
            </div>
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5><strong>Marge Pourcentage (%):</strong></h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.marge_pourcentage }}</p>
                </div>
            </div>
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5><strong>Pourcentage Banque (%):</strong></h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.pourcentage_banque }}</p>
                </div>
            </div>
            <div class="row detail-item">
                <div class="col-md-3">
                    <h5><strong>Prix de Vente Total HT:</strong></h5>
                </div>
                <div class="col-md-9">
                    <p>{{ simulation.prix_vente_total_ht }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <a href="{% url 'edit_simulation' simulation.id_simulation %}" class="btn btn-warning">Éditer</a>
            <a href="{% url 'liste_simulations' %}" class="btn btn-secondary">Retour à la liste</a>
        </div>
    </div>

{% endblock %}
