{% extends 'base.html' %}

{% block title %}Éditer la Simulation{% endblock %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-6A+wzJW5dI7+x4W4p5vVUKct+6z4C6mRSQ8qNkf24tJSJk2BbMq94lm7qGq6lVWhLs9xE6PKb0zL9E9zAok5OQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'css/styleeditesimulation.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Modification de la simulation</h1>
    <form id="simulationForm" method="POST" action="{% url 'edit_simulation' simulation.id_simulation %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="titre">Titre de la simulation :</label>
            <input type="text" id="titre" name="titre" value="{{ simulation.titre }}" autocomplete="off" required>
        </div>

        <div style="overflow-x: auto;">
            <table class="table form-table">
                <thead>
                    <tr>
                        <th>Désignation</th>
                        <th>Quantité</th>
                        <th>Prix Unitaire d'Achat (FCFA)</th>
                        <th>Frais de transport (FCFA)</th>
                        <th>Frais de douane (FCFA)</th>
                        <th>Marge Pourcentage (%)</th>
                        <th>Pourcentage banque (%)</th>
                    </tr>
                </thead>
                <tbody id="servicesTableBody">
                    {% for line in simulations_grouped_by_title %}
                    <tr>
                        <td><input type="text" name="designation_{{ line.id_simulation }}" value="{{ line.designation }}" autocomplete="off" required></td>
                        <td><input type="text" name="quantite_{{ line.id_simulation }}" value="{{ line.quantite }}" autocomplete="off" required></td>
                        <td><input type="text" name="prix_unitaire_{{ line.id_simulation }}" value="{{ line.prix }}" autocomplete="off" required></td>
                        <td><input type="text" name="frais_transit_{{ line.id_simulation }}" value="{{ line.montant_transit }}" autocomplete="off" required></td>
                        <td><input type="text" name="frais_douane_{{ line.id_simulation }}" value="{{ line.montant_douane }}" autocomplete="off" required></td>
                        <td><input type="text" name="marge_percentage_{{ line.id_simulation }}" value="{{ line.marge_pourcentage }}" autocomplete="off" required></td>
                        <td><input type="text" name="pourcentage_banque_{{ line.id_simulation }}" value="{{ line.pourcentage_banque }}" autocomplete="off" required></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</div>
<script src="{% static 'js/creersimulation.js' %}"></script>
{% endblock %}
