<!-- liste_simulations.html -->
{% extends "base.html" %}
{% load custom_filters %}
{% block title %}Liste des Simulations{% endblock %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styleliste.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>Liste des Simulations</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Prix Total avec ISB </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for titre, group in grouped_simulations.items %}
     
        <tr>
          <td>{{ titre }}</td>
          <td>{{ group.total_prix_avec_isb|intspace }} FCFA</td>
          <td>
            <a href="{% url 'detail_simulation' group.id_simulation %}" class="btn btn-voir">
                <i class="bi bi-eye"></i> Voir
            </a>
            
            <a href="{% url 'edit_simulation' group.id_simulation %}" class="btn btn-editer">
                <i class="bi bi-pencil"></i> Editer
            </a>
          </td>
        </tr>
      
    {% endfor %}
  </tbody>
</table>

{% endblock %}
