{% extends 'base.html' %}

{% block title %}
Rapport Simulation
{% endblock %}
{% load custom_filters %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/stylerapport.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Rapport de Simulation</h1>

    <!-- Liens ou boutons pour choisir la période -->
    <div class="mt-4 mb-4">
        <a href="{% url 'rapport_simulation' %}?periode=jour" class="btn btn-primary">Simulations du jour</a>
        <a href="{% url 'rapport_simulation' %}?periode=mois" class="btn btn-primary">Simulations du mois</a>
        <a href="{% url 'rapport_simulation' %}?periode=annee" class="btn btn-primary">Simulations de l'année</a>
    </div>

    <!-- Conteneur pour afficher les résultats -->
    <div id="resultsContainer">
        {% if grouped_simulations %}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Date de Création</th>
                        <th>Total TTC</th>
                        <th>Total Marge</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in grouped_simulations %}
                        <tr>
                            <td>{{ group.titre }}</td>
                            <td>{{ group.date_creation }}</td>
                            <td>{{ group.total_ttc |intspace }} FCFA</td>
                            <td>{{ group.total_marge |intspace}} FCFA</td>
                            <td>
                                <a href="{% url 'detail_simulation' group.simulations.0.id_simulation %}" class="btn btn-voir">
                                    <i class="bi bi-eye"></i> Voir
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucune simulation trouvée pour cette période.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
